

<%- include('header') %>
<div class="singleM">
    <div class="memberP">
        <div class="imgSD">
            <img src="<%=member.image%>" alt="" class="avtarS">
        </div>
        
        <h2><%=member.name%></h2>
        <p>
            <%-member.about%>
        </p>
    </div>

   </div>
   <%- include('footer') %>