

<%- include('../header') %>
<div class="singleM">
    <div class="memberP">
        <div class="imgSD">
            <img src="<%=blog.image%>" alt="" class="avtarS">
        </div>
        <h2><%=blog.title%></h2>
        <p>
           <%-blog.contant%></p>
        </p>
    </div>
   </div>
   <%- include('../footer') %>